name: hashicorp/go-multierror/go-multierror
on:
  push:

permissions:
  contents: read

jobs:
  go-fmt:
    runs-on: ubuntu-latest
    steps:
      - run: go version
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4.0.0
        with:
          go-version-file: go.mod
      - name: check go fmt
        run: |-
          files="$(go fmt ./...)"
          if [ -n "$files" ]; then
            echo "The following file(s) do not conform to go fmt:"
            echo "$files"
            exit 1
          fi

  linux-tests:
    runs-on: ubuntu-latest
    env:
      TEST_RESULTS_PATH: '/tmp/test-results'
    strategy:
      matrix:
        go-version:
          - '1.13' # oldest supported; named in go.mod
          - 'oldstable'
          - 'stable'
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4.0.0
        with:
          go-version: ${{ matrix.go-version }}
      - uses: autero1/action-gotestsum@2e48af62f5248bd3b014f598cd1aa69a01dd36e3 # v1.0.0
        with:
          gotestsum_version: 1.9.0
      - run: |
          go version
          go env
      - run: mkdir -p "$TEST_RESULTS_PATH/go-multierror"
      - name: Run go tests
        env:
          PLATFORM: linux
          REPORT_FILE: ${{ env.TEST_RESULTS_PATH }}/go-multierror/gotestsum-report.xml
        run: |-
          gotestsum --format=short-verbose --junitfile ${{ env.REPORT_FILE }} -- -p 2 ./...
      - uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
        with:
          path: ${{ env.TEST_RESULTS_PATH }}
          name: tests-linux

  windows-tests:
    runs-on: windows-latest
    env:
      TEST_RESULTS_PATH: 'c:\Users\runneradmin\AppData\Local\Temp\test-results'
    strategy:
      matrix:
        go-version:
          - '1.13' # oldest supported; named in go.mod
          - 'oldstable'
          - 'stable'
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4.0.0
        with:
          go-version: ${{ matrix.go-version }}
      - run: |
          go version
          go env
      - run: git config --global core.autocrlf false
      - run: go mod download
      - uses: autero1/action-gotestsum@2e48af62f5248bd3b014f598cd1aa69a01dd36e3 # v1.0.0
        with:
          gotestsum_version: 1.9.0
      - name: Run go tests
        env:
          PLATFORM: win
          REPORT_FILE: ${{ env.TEST_RESULTS_PATH }}/go-multierror/gotestsum-report.xml
        run: |-
          gotestsum.exe --format=short-verbose --junitfile ${{ env.REPORT_FILE }} -- -p 2 ./...
      - uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
        with:
          path: ${{ env.TEST_RESULTS_PATH }}
          name: tests-windows
