name: hashicorp/go-multierror/go-multierror
on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  go-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Get go-version
        run: go version
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - name: check go fmt
        run: |-
          files="$(go fmt ./...)"
          if [ -n "$files" ]; then
            echo "The following file(s) do not conform to go fmt:"
            echo "$files"
            exit 1
          fi

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47

  linux-tests:
    runs-on: ubuntu-latest
    env:
      TEST_RESULTS_PATH: '/tmp/test-results'
    strategy:
      matrix:
        go-version:
          - '1.13' # oldest supported; named in go.mod
          - 'oldstable'
          - 'stable'
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3   # v6.0.0
      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c   # v6.1.0
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install gotestsum
        uses: autero1/action-gotestsum@7263b9d73912eec65f46337689e59fac865c425f # v2.0.0
        with:
          gotestsum_version: 1.9.0
      - name: Get go version and env
        run: |
          go version
          go env
      - name: Create test directory
        run: mkdir -p "$TEST_RESULTS_PATH/go-multierror"
      - name: Run go tests
        env:
          PLATFORM: linux
          REPORT_FILE: ${{ env.TEST_RESULTS_PATH }}/go-multierror/gotestsum-report.xml
        run: |-
          gotestsum --format=short-verbose --junitfile ${{ env.REPORT_FILE }} -- -p 2 -cover -coverprofile=coverage-linux.out ./...
      - name: Upload and save artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: ${{ env.TEST_RESULTS_PATH }}
          name: tests-linux-${{ matrix.go-version }}
      - name: Upload coverage report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: coverage-linux.out
          name: Coverage-report-linux-${{matrix.go-version}}
      - name: Display coverage report
        run: go tool cover -func=coverage-linux.out

  windows-tests:
    runs-on: windows-latest
    env:
      TEST_RESULTS_PATH: 'c:\Users\runneradmin\AppData\Local\Temp\test-results'
    strategy:
      matrix:
        go-version:
          - '1.13' # oldest supported; named in go.mod
          - 'oldstable'
          - 'stable'
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go-version }}
      - name: Get go-version and env
        run: |
          go version
          go env
      - run: git config --global core.autocrlf false
      - name: Download go modules
        run: go mod download
      - name: Install gotestsum
        uses: autero1/action-gotestsum@7263b9d73912eec65f46337689e59fac865c425f # v2.0.0
        with:
          gotestsum_version: 1.9.0
      - name: Run go tests
        env:
          PLATFORM: win
          REPORT_FILE: ${{ env.TEST_RESULTS_PATH }}/go-multierror/gotestsum-report.xml
        run: |-
          gotestsum.exe --format=short-verbose --junitfile ${{ env.REPORT_FILE }} -- -p 2 -cover -coverprofile="coverage-win.out" ./...
      - name: Upload and save artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: ${{ env.TEST_RESULTS_PATH }}
          name: tests-windows-${{ matrix.go-version }}
      - name: Upload coverage test
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: coverage-win.out
          name: Coverage-report-win-${{matrix.go-version}}
      - name: Display coverage report
        run: go tool cover -func=coverage-win.out
        shell: cmd
